@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #5b6677;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.sidebar{
    position: relative;
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    border-radius: 30px;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img{
    width: 100%;
    object-fit: cover;
}

.user-details .title,
menu .title{
    font-size: 10px;
    font-weight: 500;
    color:  #757575;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.user-details .name {
    font-size: 14px;
    font-weight: 500;
}

.nav   {
    flex: 1;
}

.menu .title{
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
}
.menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li:hover a,
.menu ul li:active > a{
    color: #000;
    background-color: #f6f6f6;
}

.menu ul li .icon{
    font-size: 20px;
}

.menu ul li .text{
    flex: 1;
}

.menu ul li .arrow{
    font-size: 14px;
    transition: all 0.3s;
}

.menu ul li.active .arrow{
    transform: rotate(180deg);

}


.menu .sub-menu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;

}

.menu .sub-menu li a {
    padding: 10px 8 px;
    font-size: 12px;
}


.menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width:28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}


.sidebar .active {
    width: 92px;
}


.sidebar .active .menu-btn i {
    transform: rotate(180deg);
}
