body {
    margin-top: 52px;
    padding-bottom: 52px;
}

#wrapper {
    height: 100%;
    padding-left: 0;
}

#page-wrapper {
    height: 100%;
    padding: 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

hr {
    margin: 5px 0;
}

.docs-table tbody i {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

ul li i {
    display: inline-block;
    margin-right: 10px;
}

.header-text {
    display: inline-block;
    border-bottom: 1px solid lightgrey;
    font-weight: 300;

    animation-delay: 0;
    animation-duration: 600ms;
}
