*{
  box-sizing:border-box ;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #eeeeee;
  color: #525252;
}

/* .nav-link{
  color: aqua;
} */

.dropdown-menu a {
    text-decoration: none;
    color: #000000;
  }
  .dropdown-menu a .d-flex {
    transition: all 0.5s;
  }
  .dropdown-menu .col-sm-6:nth-child(1) a:hover .d-flex {
    background-color: var(--bs-warning-bg-subtle);
  }
  .dropdown-menu .col-sm-6:nth-child(2) a:hover .d-flex {
    background-color: var(--bs-danger-bg-subtle);
  }
  .dropdown-menu .col-sm-6:nth-child(3) a:hover .d-flex {
    background-color: var(--bs-success-bg-subtle);
  }
  .dropdown-menu .col-sm-6:nth-child(4) a:hover .d-flex {
    background-color: var(--bs-secondary-bg-subtle);
  }
  .dropdown-menu .col-sm-6:nth-child(5) a:hover .d-flex {
    background-color: var(--bs-tertiary-bg);
  }
  .dropdown-menu .col-sm-6:nth-child(6) a:hover .d-flex {
    background-color: var(--bs-info-bg-subtle);
  }
  @media only screen and (min-width: 400px) {
    .dropdown-menu {
      width: 45vw;
    }
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }

  }.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
  }

  .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
  }

  .user-info{
    display: flex;
    align-items: center;
  }

  .user-info h3{
    font-weight: 500;
  }

  .user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15;
  }

  .sub-menu .hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
  }
