body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

p {
    font-size: 14px;
    color: #666;
}

a {
    color: #6200ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: white;
    padding: 20px; /* Agrega padding para dar espacio interno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: left; /* Alineación de las etiquetas */
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Título centrado */
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del input */
}

label {
    margin-top: 10px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.button-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336; /* Color rojo para el botón de cancelar */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    text-align: center;
}

.button-cancel:hover {
    background-color: #d32f2f; /* Un color más oscuro al pasar el mouse */
}
