/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos del navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    position: relative;
    padding: 14px 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-item a:hover {
    background-color: #575757;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        padding: 10px;
        text-align: left;
    }
}
