body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.button {
    display: block;
    width: calc(100% - 40px); /* Ajuste de ancho con margen */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

.button:hover {
    background-color: #0056b3;
}

.button-cancel {
    background-color: #dc3545;
}

.button-cancel:hover {
    background-color: #c82333;
}