/* Centrar el título */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
    width: 80%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Eliminar los espacios entre bordes */
    font-family: Arial, sans-serif;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center; /* Centrar el contenido de las celdas */
}

table th {
    background-color: #4CAF50; /* Color de fondo para los encabezados */
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo de las filas pares */
}

table tr:hover {
    background-color: #ddd; /* Fondo al pasar el mouse sobre la fila */
}

/* Enlace de editar en cada fila */
a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #45a049; /* Cambiar color al pasar el mouse */
}
