html, body {
    overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    width: 100%; /* Asegura que el contenido ocupe el 100% del ancho */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrado-izquierda {
    position: fixed;       /* Fija el div en su posición */
    top: 0;                /* Alinea la parte superior del div con la parte superior de la pantalla */
    left: 0;               /* Alinea el div a la izquierda */
    width: 35%;            /* Ocupa el 30% del ancho */
    height: 100vh;         /* Ocupa el 100% de la altura de la pantalla */
    background-color: #f0f0f0; /* Color de fondo para visualización */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
    z-index: 0;         /* Asegura que el div esté por encima de otros elementos */
}

.contenido {
    position: absolute;       /* Fija el div en su posición */
    top: 0;                /* Alinea la parte superior del div con la parte superior de la pantalla */
    left: 35%;               /* Alinea el div a la izquierda */
    width: calc(100% - 35%);
    max-width: calc(100% - 35%);
    height: 100vh;         /* Ocupa el 100% de la altura de la pantalla */
    background-color:  white/* Color de fondo para visualización */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
    z-index: 0;         /* Asegura que el div esté por encima de otros elementos */
    box-sizing: border-box;
    overflow-y: auto;         /* Permite el desplazamiento si el contenido excede la altura del div */
    padding: 20px;
}
H1{
    text-align: left;
    top: 10%;
}
h2{
    text-align: left;
}
.centrado-izquierda a {
    display: inline-block; /* Permite al enlace comportarse como un bloque en línea */
    padding: 10px 20px; /* Espaciado interno para el botón */
    margin: 5px; /* Espaciado externo */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #007bff; /* Borde con el mismo color que el fondo */
    font-weight: bold; /* Negrita en el texto */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves para hover */
}
.contenido a{
    display: inline-block; /* Permite que los enlaces se comporten como bloques en línea */
    padding: 10px 20px;
    margin: 5px; 
    background-color: #007bff;
    color: #fff; 
    text-align: center; 
    text-decoration: none;
    border-radius: 10px; 
    border: 1px solid #007bff; 
    font-weight: bold; 
    transition: background-color 0.3s, border-color 0.3s;
    
    /* Añadido para evitar que los botones se expandan más allá del contenedor */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.centrado-izquierda a:hover, .contenido a:hover {
    background-color: #0056b3; /* Color de fondo cuando el mouse está sobre el botón */
    border-color: #0056b3; /* Color del borde cuando el mouse está sobre el botón */
}

.centrado-izquierda a:active, .contenido a:active{
    background-color: #004080; /* Color de fondo cuando se hace clic */
    border-color: #004080; /* Color del borde cuando se hace clic */
}